page-home {

ion-navbar {
  z-index: 2;
}


  shrinking-segment-header {
    background-color: #139228;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    img {
      position: absolute;
      border-radius: 50%;
      width: auto;
      height: 40%;
      margin-top: 40%;
      margin-right: 35px;
      bottom: 10%;
    }
  }
}
